* {
    box-sizing: border-box;
    margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
li {
  color: #595959;
  font-size: 14px;
  line-height: 24px;
}
h1 {
  font-size: 45px;
  font-weight: 700;
}
#footer .bottom {
    position: relative;
    min-height: 60px;
    background: #90806a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer span {
font-size: 20px;
}
.main_container {
    margin: 0px auto;
    background: #FCF2E5;
    padding-bottom: 15px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#wrapper{
background:#FCF2E5;
}
h2 {
    font-size: 40px;
    color: #042F47;
    line-height: 34px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
h2:after {
    content: "";
    width: 100px;
    height: 1px;
    display: block;
    background: #042F47;
    margin: 5px auto;
}
.coffe_content{
display: grid;
    margin: 15px 0 30px;
    gap: 40px 15px;
    grid-template-columns: 1fr 1fr 1fr;
  }
.coffe_item {
    padding: 10px;
    background: #90806a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px #90806a;
    height: fit-content;
}
    .coffe_item img {
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: zoom-in;
  }
.title{
    font-size: 20px;
    color: #042F47;
    line-height: 34px;
    padding: 40px 0px 40px 0px;
}
.three {
  background: #FCF2E5;
  padding: 50px 20px;
  text-align: center;
} 
.three h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #FCF2E5;
  background: #90806A;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three h1:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  background: #90806A;
}
.three h1:after {
  content: ""; 
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #90806A;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
@media (max-width: 500px) {
  .three h1 {font-size: 1.8em;}
}
@media (max-width: 400px) {
  .three h1 {
    font-size: 1.5em;
    padding: 10px 30px;
  }
  .coffe_content{
    grid-template-columns: 1fr;
    margin: 0px 15px;
  }
}
.two {
  padding: 5px 20px;
  text-align: center;
} 
.two h3 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #5C2610;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.two h3:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 100%;
  border-radius: 50%/30%;
  border: 6px solid #5C2610;
  border-left-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 420px) {
  .two h3 {font-size: 2em;}
}

.price {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #48DB99;
    padding-top: 10px;
}
