@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-siing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
#header .top {
  display: none;
}
#header .top .top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
#header .top .top_header .registr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
#header .top .lang {
  right: 20px;
  position: absolute;
  top: 30px;
  display: contents;
}
#header .top .lang ul {
  margin: 0;
  padding: 0;
}
#header .top .lang ul li:hover ul.sub-menu {
  display: block;
  visibility: visible;
}
#header .top .lang ul #menu-item-14 {
  background: url(/img/flag_en.svg) 5px 12px/27px no-repeat;
}
#header .top .lang ul #menu-item-15 {
  background: url(/img/flag_de.svg) 5px 12px/27px no-repeat;
}
#header .top .lang ul li {
  list-style-type: none;
  background: none;
  margin-bottom: 0;
  padding: 0;
}
#header .top .lang ul li a {
  display: block;
  width: 95px;
  height: 40px;
  background-position: 7px 7px;
  background-size: 24px;
  padding: 11px 30px 7px 40px;
  font-size: 15px;
  color: #243580;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
}
#header .top .lang ul li ul.sub-menu {
  display: none;
  position: absolute;
  width: auto;
  background: #fff;
  border: 1px solid #eee;
  z-index: 101;
  -webkit-box-shadow: 0 3px 5px #575656;
          box-shadow: 0 3px 5px #575656;
}
#header .top .lang li#menu-item-14 > a:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 20px;
  display: block;
  width: 12px;
  height: 8px;
  background: url(/img/arrow_lang.svg) no-repeat;
}
#header .nav {
  position: relative;
  height: 45px;
  background: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 0px #edf0f2;
          box-shadow: 0px 2px 0px #edf0f2;
}
#header .nav li.menu-item.active:after {
  content: "";
  background: url(/img/menu_children.svg);
  width: 15px;
  height: 9px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
}
#header .nav ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 11px 0;
  text-align: right;
  list-style-type: none;
}
#header .nav ul .sub-menu:hover ul.sub-menu {
  display: block;
}
#header .nav ul li:hover ul.sub-menu {
  display: block;
}
#header .nav ul li {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  background: none;
  padding: 0;
  margin: 0;
}
#header .nav ul li a {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
#header .nav ul li ul.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  min-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 29px 30px 34px;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 3px 5px #575656;
          box-shadow: 0 3px 5px #575656;
}
#header .nav ul li ul.sub-menu li {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#header .nav ul li ul.sub-menu li a {
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  color: #243580;
  padding: 0;
  background: 0 0;
  text-transform: none;
}
#header .nav ul li ul.sub-menu li a:hover {
  color: #1C69D4;
}
#header .nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
}
#header .nav .menu {
  display: none;
}
#header .nav .logo {
  z-index: 102;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
}
#header .nav .logo img {
  height: 32px;
  width: 32px;
}
#header .nav .logo span {
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  color: #042F47;
}
#header .nav .menu_btn {
  display: block;
  top: 0;
  width: 20px;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-right: 15px;
  margin-left: 25px;
}
#header .nav .menu_btn .line {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background: #243570;
  border-radius: 2px;
  top: 8px;
}
#header .nav .menu_btn .line:before, #header .nav .menu_btn .line:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #243570;
  border-radius: 2px;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
}
#header .nav .menu_btn .line:before {
  top: 8px;
}
#header .nav .menu_btn .line:after {
  top: -8px;
}
#header .nav .search-container {
  width: 45px;
  height: 21px;
  background: #042F47;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border-radius: 3px;
  margin-left: auto;
}
#header .nav .search-activator {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#header .nav .search-activator span {
  display: block;
  height: 24px;
  width: 24px;
  background: url("/img/search.svg") no-repeat;
  background-size: 15px 15px;
  background-position: center;
}
#header .nav #searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
#header .nav .search-form {
  display: none;
}
#header .nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.social-widget {
  display: block;
  width: 50%;
}
.social-widget .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.social-widget .social a {
  width: 20px;
  height: 20px;
  -webkit-transition: background-image 0.1s;
  transition: background-image 0.1s;
}
.social-widget .social a.fb {
  background: url(/img/facebook.svg) no-repeat;
}
.social-widget .social a.in {
  background: url(/img/instagram.svg) no-repeat;
}

.container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.site-main .container {
  padding: 0px 15px;
}

h1 {
  font-size: 36px;
  color: #042F47;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 45px 0px 45px 0px;
}

h2 {
  font-size: 30px;
  color: #042F47;
  font-weight: 700;
  line-height: 34px;
  padding: 40px 0px 40px 0px;
}
h2:after {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  background: #042F47;
  margin-top: 15px;
}

h3 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.panel .panel-block {
  width: 160px;
  height: 150px;
  background-color: #EDF0F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.panel img {
  width: 50px;
  height: 60px;
}
.panel .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  height: 35px;
}

.surrogacy {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 80px;
}
.surrogacy .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.surrogacy .icon {
  min-width: 90px;
  margin: 5px 0 0 -15px;
  text-align: center;
}
.surrogacy .icon p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.feedback {
  background-color: #21C681;
  padding: 40px 15px;
  text-align: center;
}
.feedback p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.feedback-button {
  text-transform: uppercase;
  background-color: #042F47;
  padding: 6px 25px;
  margin-top: 15px;
  color: #21C681;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #042F47;
}
.feedback-button:hover {
  background-color: #21C681;
  color: #042F47;
}

.faq {
  margin-bottom: 80px;
}
.faq .faq-row {
  padding: 0 0 10px;
  margin: 0 0 15px;
  border-radius: 5px;
  background: #EDF0F2;
}
.faq .faq-title {
  position: relative;
  padding: 10px 50px 10px 20px;
  font-weight: 700;
  color: #042F47;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}
.faq .faq-title:after {
  content: url(/img/arrow_down.svg);
  position: absolute;
  top: 25px;
  right: 20px;
  line-height: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.faq .faq-title.active:after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.steal-text {
  -webkit-transition: height 0.25s ease;
  transition: height 0.25s ease;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 50px 20px 50px;
}

.steal-text:not(.active) {
  display: none;
}

.zaglushka {
  height: 100px;
  background: #21C681;
}

.site-footer {
  line-height: 24px;
}
.site-footer .container {
  padding: 0px 15px;
}
.site-footer .social a {
  width: 40px;
  height: 40px;
  -webkit-transition: background-image 0.1s;
  transition: background-image 0.1s;
}
.site-footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.site-footer .widget-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.site-footer ul li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #3F3F3F;
}
.site-footer ul li a:hover {
  color: #1C69D4;
}

.footer-logo {
  z-index: 102;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer-logo img {
  height: 32px;
  width: 32px;
}
.footer-logo span {
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  color: #042F47;
}

.bottom {
  height: 50px;
  background-color: #EDF0F2;
  color: #6F6F6F;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
}

@media screen and (min-width: 768px) {
  #header .top {
    display: block;
  }
  #header .top .social-widget {
    margin-left: 15px;
  }
  #header .nav {
    height: 80px;
    background: #042F47;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #header .nav li.menu-item.active:after {
    right: 0px;
  }
  #header .nav ul li a {
    padding: 13px 3px;
  }
  #header .nav .row {
    height: 80px;
  }
  #header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #header .nav .logo {
    margin-left: 15px;
  }
  #header .nav .logo span {
    color: #FFFFFF;
    font-weight: 600;
  }
  #header .nav .logo img {
    height: 40px;
    width: 40px;
  }
  #header .nav .menu_btn {
    display: none;
  }
  #header .nav .search-container {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    margin-left: 0px;
  }
  #header .nav .search-activator span {
    background-size: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .feedback {
    padding: 60px 125px;
  }
  .feedback p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .feedback-button {
    padding: 6px 40px;
    margin-top: 45px;
  }

  .surrogacy {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #header .nav {
    height: 80px;
    background: #042F47;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #header .nav li.menu-item.active:after {
    right: 20px;
  }
  #header .nav ul {
    padding: 11px 0;
  }
  #header .nav ul .sub-menu:hover ul.sub-menu {
    display: block;
  }
  #header .nav ul li:hover ul.sub-menu {
    display: block;
  }
  #header .nav ul li a {
    padding: 13px 20px;
  }
  #header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #header .nav .row {
    height: 80px;
  }
  #header .nav .logo span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
  }
  #header .nav .logo img {
    height: 40px;
    width: 40px;
  }
  #header .nav .search-container {
    width: 24px;
    height: 24px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: none;
  }
  #header .nav .search-activator span {
    display: block;
    height: 24px;
    width: 24px;
    background-size: auto;
  }
  #header .nav .menu_btn {
    display: none;
  }
  #header .top {
    height: 50px;
    background: #fff;
    display: block;
  }

  .panel .panel-block {
    width: 260px;
    height: 250px;
  }
  .panel img {
    width: 90px;
    height: 100px;
  }
  .panel .text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }

  .site-footer .footer-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#header .nav .menu_btn.active .line:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .nav .menu_btn.active .line:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .nav .menu_btn.active {
  text-decoration: none;
  background: #fff;
}

#header .nav .menu_btn.active .line {
  background: 0 0;
}