/*Обнуление*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box;box-siing:border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
#header{
	.top {
		display:none;
		.top_header{
			display:flex;
			align-items: center;
			justify-content: space-between;
			height: 50px;
			.registr{
				display: flex;
				justify-content: center;
				column-gap: 20px;
				
			}
		}
		.lang {
			right: 20px;
			position: absolute;
			top: 30px;
			display: contents;
			ul {
				margin: 0;
				padding: 0;
				li:hover ul.sub-menu {
					display: block;
					visibility:visible;
				}
				#menu-item-14 {
					background: url(/img/flag_en.svg) 5px 12px / 27px no-repeat;
				}
				#menu-item-15 {
					background: url(/img/flag_de.svg) 5px 12px / 27px no-repeat;
				}
				li {
					list-style-type: none;
					background: none;
					margin-bottom: 0;
					padding: 0;
					a {
						display: block;
						width: 95px;
						height: 40px;
						background-position: 7px 7px;
						background-size: 24px;
						padding: 11px 30px 7px 40px;
						font-size: 15px;
						color: #243580;
						text-transform: uppercase;
						border-radius: 50px;
						text-decoration: none;
					}
					ul.sub-menu {
						display: none;
						position: absolute;
						width: auto;
						background: #fff;
						border: 1px solid #eee;
						z-index: 101;
						box-shadow: 0 3px 5px #575656;
					}
				}
			}
			li#menu-item-14>a:after {
				content: "";
				position: absolute;
				right: 15px;
				top: 20px;
				display: block;
				width: 12px;
				height: 8px;
				background: url(/img/arrow_lang.svg) no-repeat;
			}
		}
	}
	.nav {
		position: relative;
		height: 45px;
		background: #ffffff;
		z-index: 100;
		box-shadow: 0px 2px 0px #edf0f2;
		li.menu-item.active:after {
			content: '';
			background: url(/img/menu_children.svg);
			width: 15px;
			height: 9px;
			display: inline-block;
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			right: 20px;
		}
		ul {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 11px 0;
			text-align: right;
			list-style-type: none;
			.sub-menu:hover ul.sub-menu {
				display: block;
			}
			li:hover ul.sub-menu {
				display: block;
			}
			li {
				position: relative;
				display: inline-block;
				width: auto;
				height: 100%;
				background: none;
				padding: 0;
				margin: 0;
				a {
					display: inline-block;
					padding: 13px 20px;
					border-radius: 30px;
					text-align: center;
					font-size: 15px;
					color: #fff;
					text-decoration: none;
				}
				ul.sub-menu {
					display: none;
					position: absolute;
					left: 0;
					min-width: 100%;
					width: fit-content;;
					height: auto;
					padding: 29px 30px 34px;
					background: #fff;
					text-align: left;
					box-shadow: 0 3px 5px #575656;
					li {
						display: block;
						width: 100%;
						height: auto;
						margin-bottom: 20px;
						a {
							display: inline-block;
							font-size: 17px;
							line-height: 20px;
							text-align: left;
							color: #243580;
							padding: 0;
							background: 0 0;
							text-transform: none;
							&:hover{
								color: #1C69D4;
							}
						}
					}
				}
			}
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 45px;
		}
		.menu{
			display: none;
		}
		.logo {
			z-index: 102;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 10px;
			align-self: center;
			margin-left: 15px;
			img {
				height:32px;
				width:32px;
			}
			span {
				font-style: normal;
				font-weight: 600;
				line-height:20px;
				font-size: 18px;
				color: #042F47;
			}
		}
		.menu_btn {
			display: block;
			top: 0;
			width:20px;
			height: 16px;
			align-self: center;
			text-align: center;
			margin-right: 15px;
			margin-left: 25px;
			.line {
				display: block;
				position: relative;
				width: 20px;
				height: 2px;
				background: #243570;
				border-radius: 2px;
				top:8px;
				&:before,
				&:after{
					display: block;
					position: absolute;
					width: 20px;
					height: 2px;
					background: #243570;
					border-radius: 2px;
					content: "";
					transition-duration: .3s,.3s;
				}
				&:before{
					top:8px;
				}
				&:after{
					top:-8px;
				}
			}
		}
		.search-container {
			width: 45px;	
			height: 21px;
			background:#042F47;
			align-self: center;
			text-align: center;
			border-radius: 3px;
			margin-left: auto;
		}
		.search-activator {
			background: 0 0;
			border: none;
			padding: 0;
			margin: 0;
			cursor: pointer;
			span {
				display: block;
				height: 24px;
				width: 24px;
				background:url('/img/search.svg') no-repeat;
				background-size:15px 15px;
			background-position:center;
			}
		}
		#searchform {
			display: flex;
			padding-top: 10px;
		}
		.search-form {
			display: none;
		}
	}
	.nav.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
}
.social-widget {
	display: block;
	width: 50%;
	.social {
		display: flex;
		justify-content: flex-start;
		column-gap: 20px;
	}
	.social a {
		width: 20px;
		height: 20px;
		transition: background-image .1s;
	}
	.social a.fb {
		background: url(/img/facebook.svg) no-repeat;
	}
	.social a.in {
		background: url(/img/instagram.svg) no-repeat;
	}
}
.container{
	position: relative;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.site-main{
	.container{
	padding: 0px 15px;
}
}
h1{
	font-size: 36px;
	color:#042F47;
	font-weight:700;
	line-height:36px;
	text-align: center;
	margin: 45px 0px 45px 0px;
}
h2{
	font-size: 30px;
	color:#042F47;
	font-weight:700;
	line-height:34px;
	padding: 40px 0px 40px 0px;
	&:after{
		content: "";
		width: 100px;
		height: 1px;
		display: block;
		background: #042F47;
		margin-top: 15px;
		}
	}
h3 {
	margin: 0 0 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.panel {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: 10px;
	.panel-block {
		width: 160px;
		height: 150px;
		background-color: #EDF0F2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}
	img{
		width: 50px;
		height: 60px;
	}
	.text {
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		height: 35px;
	}
}
.surrogacy {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr;
	margin-bottom: 80px;
	.list {
		display: flex;
		gap: 10px;
	}
	.icon {
		min-width: 90px;
		margin: 5px 0 0 -15px;
		text-align: center;
	p{
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
}
}
.feedback {
	background-color: #21C681;
	padding: 40px 15px;
	text-align: center;
	p{
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
}
.feedback-button {
	text-transform: uppercase;
	background-color: #042F47;
	padding: 6px 25px;
	margin-top: 15px;
	color: #21C681;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	border:1px solid #042F47;
	&:hover{
		background-color: #21C681;
		color: #042F47;
	}
	}
.faq {
	margin-bottom:80px;
	.faq-row {
		padding: 0 0 10px;
		margin: 0 0 15px;
		border-radius: 5px;
		background: #EDF0F2;
	}
	.faq-title {
		position: relative;
		padding: 10px 50px 10px 20px;
		font-weight: 700;
		color: #042F47;
		transition: color .2s;
		cursor: pointer;
		font-size: 16px;
		line-height: 24px;
		&:after{
			content: url(/img/arrow_down.svg);
			position: absolute;
			top: 25px;
			right: 20px;
			line-height: 0;
			transition: transform .4s;
		}
		&.active:after{
		transform: rotateX(180deg);
	}
	}
}
.steal-text{
	transition: height .25s ease;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 50px 20px 50px;
}

.steal-text:not(.active) {
	display: none;
}

.zaglushka{
	height: 100px;
	background: #21C681;
}
.site-footer{
	line-height: 24px;
	.container{
	padding: 0px 15px;
}
	.social a {
	width: 40px;
	height: 40px;
	transition: background-image .1s;
	}
	.footer-row{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top:80px;
	}
	.widget-title{
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
	}
	ul li{
			font-size: 14px;
			line-height: 30px;
			font-weight: 400;
			color: #3F3F3F;
			& a:hover{
				color: #1C69D4;
			}
	}
}

.footer-colum-one{
}

.footer-logo {
	z-index: 102;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;;
	align-items: center;
	column-gap: 10px;
	align-self: center;
	img {
			height:32px;
			width:32px;
		}
	span {
		font-style: normal;
		font-weight: 600;
		line-height:20px;
		font-size: 18px;
		color: #042F47;
	}
}
.bottom{
	height: 50px;
	background-color: #EDF0F2;
	color: #6F6F6F;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}
@media screen and (min-width: 768px){
#header{
	.top {
		display: block;
			.social-widget {
				margin-left: 15px;
			}
	}
	.nav {
		height: 80px;
		background: #042F47;
		box-shadow: none;
		li.menu-item.active:after {
			right: 0px;
		}
		ul {
			li a {
					padding: 13px 3px;
				}
		}
		.row {
			height: 80px;
		}
		.menu {
			display: flex;
			align-self: center;
		}
		.logo  {
			margin-left:15px;
			span {
				color: #FFFFFF;
				font-weight: 600;
			}
			img {
				height:40px;
				width:40px;
			}
		}
		.menu_btn {
				display: none;
		}
		.search-container {
			width: 24px;
			height: 24px;
			margin-right: 15px;
			margin-left: 0px;
		}
		.search-activator {
			span {
				background-size: auto;
			}
		}
	}
}
}

@media screen and (min-width: 1024px){
.footer-row{
	flex-direction: row;
}
.feedback {
	padding: 60px 125px;
	p{
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
}
.feedback-button {
	padding: 6px 40px;
	margin-top: 45px;
}
.surrogacy {
	grid-template-columns: 1fr 1fr;
}
#header{
	.nav{
		height: 80px;
		background: #042F47;
		box-shadow: none;
		li.menu-item.active:after {
			right: 20px;
		}
		ul {
			padding: 11px 0;
			.sub-menu:hover ul.sub-menu {
				display: block;
			}
			li:hover ul.sub-menu {
				display: block;
			}
			li {
				a {
					padding: 13px 20px;
				}
			}
		}
		.menu {
			display: flex;
			align-self: center;
		}
		.row {
			height: 80px;
		}
		.logo  {
			span {
				color: #FFFFFF;
				font-size: 20px;
				font-weight: 400;
			}
			img {
				height:40px;
				width:40px;
			}
		}
		.search-container {
			width: 24px;
			height: 24px;
			align-self: center;
			background:none;
		}
		.search-activator {
			span {
				display: block;
				height: 24px;
				width: 24px;
				background-size: auto;
			}
		}
		.menu_btn {
				display: none;
		}
	}
	.top {
		height: 50px;
		background: #fff;
		display:block;
	}
}
.panel {
	.panel-block {
		width: 260px;
		height: 250px;
	}
	img{
		width: 90px;
		height: 100px;
	}
	.text {
		font-size: 20px;
		font-weight: 400;
		line-height: 23px;
	}
}
.site-footer{
	.footer-row{
		flex-direction: row;
	}
}
}
#header .nav .menu_btn.active .line:before {
    top: 0;
    transform: rotate(
45deg
);
}
#header .nav .menu_btn.active .line:after {
    top: 0;
    transform: rotate(
-45deg
);
}
#header .nav .menu_btn.active {
    text-decoration: none;
    background: #fff;
}
#header .nav .menu_btn.active .line {
    background: 0 0;
}

