/*Обнуление*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box;box-siing:border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body.lock{
	overflow: hidden;
}
/*--------------------*/
.swiper{

}
.sider-item {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	max-width: 270px;
	box-shadow: 0px 2px 2px 2px #edf0f2;
}
.slider-img {
	position: relative;
}
.slider-rating {
	display: flex;
	background: #FFFFFF;
	margin: 0;
	width: 160px;
	height: 20px;
	position: absolute;
	bottom: 0px;
	align-items: center;
	padding-left: 11px;
	font-size: 12px;
	line-height: 12px;
	.midle{
		font-weight: 700;
		color: #FFBB00;
		padding: 0px 10px 0px 0px;
	}
	.star {
	display: flex;
		.star-item {
			background: url(/img/star.svg) no-repeat;
			width: 13px;
			height: 12px;
			display: block;
			padding: 0px 10px 10px 10px;
	}
		.star_half {
			background: url(/img/star_half.svg) no-repeat;
			width: 13px;
			height: 12px;
			display: block;
			padding: 0px 8px 10px 10px;
		}
	}
	.all {
		color: #6F6F6F;
		font-weight: 300;
}
}

.slider-text {
	padding: 10px 25px 10px 20px;
	.title {
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		padding: 0px 0px 16px 0px;
	}
		.subtitle{
			color: #6F6F6F;
		}
	.price {
		display: flex;
		justify-content: space-between;
		.sale{
		color: #21C681;
		}
	}
	.country {
		display: flex;
		justify-content:space-between;
		a{
			color: #1C69D4;
			text-decoration: underline;
		}
	}
}



.slider-button {
	text-align: center;
	margin: 20px 0px 30px 0px;
	a{
		padding: 6px 58px 6px 58px;
		background: #042F47;
		border-radius: 3px;
		color: #21C681;
		text-transform: uppercase;
	}
}




#header{
	.top {
		display:none;
		.top_header{
			display:flex;
			align-items: center;
			justify-content: space-between;
			height: 50px;
		}
		.registr img{
			margin: 0px 10px 0px 0px;
		}
		.lang {
			ul {
				margin: 0;
				padding: 0;
				li:hover ul.sub-menu-lang {
					display: block;
					visibility:visible;
				}
				#menu-item-14 {
					background: url(/img/flag_en.svg) 5px 12px / 27px no-repeat;
				}
				#menu-item-15 {
					background: url(/img/flag_de.svg) 5px 12px / 27px no-repeat;
				}
				li {
					list-style-type: none;
					background: none;
					margin-bottom: 0;
					padding: 0;
					a {
						display: block;
						width: 95px;
						height: 40px;
						background-position: 7px 7px;
						background-size: 24px;
						padding: 11px 30px 7px 40px;
						font-size: 15px;
						color: #243580;
						text-transform: uppercase;
						text-decoration: none;
					}
					ul.sub-menu-lang {
						display: none;
						position: absolute;
						width: auto;
						background: #fff;
						border: 1px solid #eee;
						z-index: 101;
						box-shadow: 0 3px 5px #575656;
					}
				}
			}
			li#menu-item-14>a:after {
				content: "";
				position: absolute;
				right: 15px;
				top: 20px;
				display: block;
				width: 12px;
				height: 8px;
				background: url(/img/arrow_lang.svg) no-repeat;
			}
		}
	}
	.nav {
		position: relative;
		height: 45px;
		background: #ffffff;
		z-index: 100;
		box-shadow: 0px 2px 0px #edf0f2;
		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 45px;
		}
		.logo {
			z-index: 102;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 10px;
			align-self: center;
			margin-left: 15px;
			img {
				height:32px;
				width:32px;
			}
			span {
				font-style: normal;
				font-weight: 600;
				line-height:20px;
				font-size: 18px;
				color: #042F47;
			}
		}
		.nav_menu {
			order: 3;
			align-self: center;
}
		.menu_btn {
			z-index: 10;
			display: block;
			position: relative;
			cursor: pointer;
			top: 0;
			width:20px;
			height: 16px;
			align-self: center;
			text-align: center;
			margin-right: 15px;
			margin-left: 25px;
			.line {
				display: block;
				position: relative;
				width: 20px;
				height: 2px;
				background: #243570;
				border-radius: 2px;
				top:8px;
				&:before,
				&:after{
					display: block;
					position: absolute;
					width: 20px;
					height: 2px;
					background: #243570;
					border-radius: 2px;
					content: "";
					transition-duration: .3s,.3s;
				}
				&:before{
					top:8px;
				}
				&:after{
					top:-8px;
				}
			}
		}
		.search-container {
			width: 45px;	
			height: 21px;
			background:#042F47;
			align-self: center;
			text-align: center;
			border-radius: 3px;
			margin-left: auto;
			z-index: 5;
		}
		.search-activator {
			background: 0 0;
			border: none;
			padding: 0;
			margin: 0;
			cursor: pointer;
			span {
				display: block;
				height: 24px;
				width: 24px;
				background:url('/img/search.svg') no-repeat;
				background-size:15px 15px;
			background-position:center;
			}
		}
		#searchform {
			display: flex;
			padding-top: 10px;
		}
		.search-form {
			display: none;
		}
	}
	.nav.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
}
.social-widget,
.menu .social-widget {
	display: block;
	width: 50%;
	.social {
		display: flex;
		justify-content: flex-start;
		column-gap: 20px;
	}
	.social a {
		width: 20px;
		height: 20px;
		transition: background-image .1s;
	}
	.social a.fb {
		background: url(/img/facebook.svg) no-repeat;
	}
	.social a.in {
		background: url(/img/instagram.svg) no-repeat;
	}
}
.container{
	position: relative;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.site-main{
	.container{
	padding: 0px 15px;
}
}
h1{
	font-size: 36px;
	color:#042F47;
	font-weight:700;
	line-height:36px;
	text-align: center;
	margin: 45px 0px 45px 0px;
}
h2{
	font-size: 30px;
	color:#042F47;
	font-weight:700;
	line-height:34px;
	padding: 40px 0px 40px 0px;
	&:after{
		content: "";
		width: 100px;
		height: 1px;
		display: block;
		background: #042F47;
		margin-top: 15px;
		}
	}
h3 {
	margin: 0 0 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.panel {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: 10px;
	.panel-block {
		width: 160px;
		height: 150px;
		background-color: #EDF0F2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}
	img{
		width: 50px;
		height: 60px;
	}
	.text {
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		height: 35px;
	}
}
.surrogacy {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr;
	margin-bottom: 80px;
	.list {
		display: flex;
		gap: 10px;
	}
	.icon {
		min-width: 90px;
		margin: 5px 0 0 -15px;
		text-align: center;
	p{
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
}
}
.feedback {
	background-color: #21C681;
	padding: 40px 15px;
	text-align: center;
	p{
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
}
.feedback-button {
	text-transform: uppercase;
	background-color: #042F47;
	padding: 6px 25px;
	margin-top: 15px;
	color: #21C681;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	border:1px solid #042F47;
	&:hover{
		background-color: #21C681;
		color: #042F47;
	}
	}
.faq {
	margin-bottom:80px;
	.faq-row {
		padding: 0 0 10px;
		margin: 0 0 15px;
		border-radius: 5px;
		background: #EDF0F2;
	}
	.faq-title {
		position: relative;
		padding: 10px 50px 10px 20px;
		font-weight: 700;
		color: #042F47;
		transition: color .2s;
		cursor: pointer;
		font-size: 16px;
		line-height: 24px;
		&:after{
			content: url(/img/arrow_down.svg);
			position: absolute;
			top: 25px;
			right: 20px;
			line-height: 0;
			transition: transform .4s;
		}
		&.active:after{
		transform: rotateX(180deg);
	}
	}
}
.steal-text{
	transition: max-height .25s ease;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	max-height: 0;
	overflow: hidden;
	padding: 0px 50px 0px 50px;
}
.zaglushka{
	height: 100px;
	background: #21C681;
}

.swiper-pagination {
	display: flex;
	gap: 15px;
	justify-content: center;
	    margin-top: 60px!important;
    position: initial!important;
}
	.swiper-pagination-bullet-active {

		background: #042F47!important;
	}
	.swiper-pagination-bullet {
		width: 30px!important;
		height: 5px!important;
		display: block!important;
		margin-top: 15px!important;
		border-radius: 0px!important;
		background: #EDF0F2;
}




.site-footer{
	line-height: 24px;
	p{
		margin-bottom: 12px;
	}
	.container{
		padding: 0px 15px;
	}
	.footer-email{
		display: flex;
		gap: 10px;
		align-items: center;
	}
	.social-widget {
		width: auto;
}
	.social {
		gap:40px;
	}
	.social a {
		width: 40px;
		height: 40px;
	}
	.social a.fb {
		background-size: 40px;
	}
	.social a.in {
		background-size: 40px;
	}
	.footer-row{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.widget-title{
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
	}
	ul li a{
			font-size: 14px;
			line-height: 30px;
			font-weight: 400;
			color: #3F3F3F;
			&:hover{
				color: #1C69D4;
			}
	}
}


	.footer-block-one,
	.footer-block-two,
	.footer-colum-two,
	.footer-colum-three,
	.footer-colum-four {
		border-top: 1px solid #C4C4C4;
		padding-top: 38px;
		width: 100%;
		margin-top: 40px;
	}






.footer-logo {
	z-index: 102;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;;
	align-items: center;
	column-gap: 10px;
	align-self: center;
	margin-bottom: 12px;
	img {
			height:32px;
			width:32px;
		}
	span {
		font-style: normal;
		font-weight: 600;
		line-height:20px;
		font-size: 18px;
		color: #042F47;
	}
}
.bottom{
	height: 50px;
	background-color: #EDF0F2;
	color: #6F6F6F;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}
@media screen and (min-width: 768px){
#header{
	.top {
		display: block;
			.social-widget {
				margin-left: 15px;
			}
	}
	.nav {
		height: 80px;
		background: #042F47;
		box-shadow: none;
		li.menu-item.active:after {
			content: '';
			background: url(/img/menu_children.svg);
			width: 15px;
			height: 9px;
			display: inline-block;
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			right: 0px;
		}
		ul {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 11px 0;
			text-align: right;
			list-style-type: none;
			li:hover ul.sub-menu-lang {
													opacity: 1;
					visibility:visible;
					transform:translate(0px, 0px);
					pointer-events:all;
			}
			li {
				position: relative;
				display: inline-block;
				width: auto;
				height: 100%;
				background: none;
				padding: 0;
				margin: 0;
				a {
					display: inline-block;
					border-radius: 30px;
					text-align: center;
					color: #fff;
					text-decoration: none;
					padding: 13px 3px;
					font-size: 14px;
				}
				ul.sub-menu {
					position: absolute;
					left: 0;
					min-width: 100%;
					width: fit-content;;
					height: auto;
					padding: 29px 30px 34px;
					background: #fff;
					text-align: left;
					box-shadow: 0 3px 5px #575656;
					transform: translate(0px, 10%);
					visibility: hidden;
					opacity: 0;
					transition: all 0.3s ease 0s;
					pointer-events: none;
					li {
						display: block;
						width: 100%;
						height: auto;
						margin-bottom: 20px;
						a {
							display: inline-block;
							font-size: 17px;
							line-height: 20px;
							text-align: left;
							color: #243580;
							padding: 0;
							background: 0 0;
							text-transform: none;
							&:hover{
								color: #1C69D4;
							}
						}
					}
				}
			}
		}
		.row {
			height: 80px;
		}
		.nav_menu {
			order: 0;
			}
		.menu {
			display: flex;
			align-self: center;
		}
		.logo  {
			margin-left:15px;
			span {
				color: #FFFFFF;
				font-weight: 600;
			}
			img {
				height:40px;
				width:40px;
			}
		}
		.menu_btn {
				display: none;
		}
		.search-container {
			width: 24px;
			height: 24px;
			margin-right: 15px;
			margin-left: 0px;
		}
		.search-activator {
			span {
				background-size: auto;
			}
		}
	}
}
}

@media screen and (min-width: 1024px){
.site-footer{
		border-top: 1px solid #C4C4C4;
		padding-top: 60px;
		width: 100%;
		margin-top: 100px;
}
.footer-row{
	flex-direction: row;
	margin-bottom: 60px;
}

	.footer-block-one,
	.footer-block-two,
	.footer-colum-two,
	.footer-colum-three,
	.footer-colum-four{
		border-top: none;
		padding-top: 38px;
		width: auto;
		margin-top: 0px;
	}


.feedback {
	padding: 60px 125px;
	p{
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
}
.feedback-button {
	padding: 6px 40px;
	margin-top: 45px;
}
.surrogacy {
	grid-template-columns: 1fr 1fr;
}
.arr_back{
    background: url(/img/arr_back.svg) no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
	left: 85%;
    bottom: 90%;
	}
.arr_next{
    background: url(/img/arr_next.svg) no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
	left: 90%;
    bottom: 90%;
	}
#header{
	.nav{
		height: 80px;
		background: #042F47;
		box-shadow: none;
		li.menu-item.active:after {
			right: 20px;
		}
		ul {
			padding: 11px 0;
			.sub-menu:hover ul.sub-menu {
				display: block;
			}
			li:hover ul.sub-menu {
				display: block;
			}
			li {
				a {
					padding: 13px 20px;
					font-size: 15px;
				}
			}
		}
		.menu {
			display: flex;
			align-self: center;
		}
		.row {
			height: 80px;
		}
		.logo  {
			span {
				color: #FFFFFF;
				font-size: 20px;
				font-weight: 400;
			}
			img {
				height:40px;
				width:40px;
			}
		}
		.search-container {
			width: 24px;
			height: 24px;
			align-self: center;
			background:none;
		}
		.search-activator {
			span {
				display: block;
				height: 24px;
				width: 24px;
				background-size: auto;
			}
		}
		.menu_btn {
				display: none;
		}
	}
	.top {
		height: 50px;
		background: #fff;
		display:block;
	}
}
.panel {
	.panel-block {
		width: 260px;
		height: 250px;
	}
	img{
		width: 90px;
		height: 100px;
	}
	.text {
		font-size: 20px;
		font-weight: 400;
		line-height: 23px;
	}
}
.site-footer{
	.footer-row{
		flex-direction: row;
	}
}
}


@media screen and (max-width: 768px){
.slider{
	justify-content: start;
	gap:0px;
}
.bg{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 250px;
	overflow: hidden;
	.fertility_center{
		position: absolute;
		top: 0px;
		right: -210px;
		bottom: 0px;
		width: 250px;
		padding: 10px;
	}
}

.menu {
	position: fixed;
	top: 46px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffff;
	padding: 0px 0px 50px 15px;;
	transition: top 0.3s ease 0s;
	overflow: auto;
	transform: translate(-100%,0px);
	.registr img{
		margin: 0px 10px 0px 0px;
	}
	.mob_lang{
		display: flex;
		align-items:center;
		justify-content: space-between;
		margin:25px 0px 25px 0px;
	}
			.lang {
			ul {
				li:hover ul.sub-menu-lang {
					display: block;
					visibility:visible;
					margin-top:10px;
				}
				#menu-item-14 {
					background: url(/img/flag_en.svg) no-repeat;
					background-size: 25px;
					background-position: 10px 9px;
				}
				#menu-item-15 {
					background: url(/img/flag_de.svg) no-repeat;
					background-size: 25px;
					background-position: 10px 9px;
				}
				li {
					a {
						padding: 9px 30px 9px 50px;
						font-size: 15px;
						color: #243580;
						text-transform: uppercase;
						margin-right: 15px;
						text-decoration: none;
						position: relative;
						border: 1px solid #EDF0F2;
					}
					ul.sub-menu-lang {
						display: none;
					}
				}
			}
			li#menu-item-14>a:after {
				content: "";
				position: absolute;
				right: 10px;
				top: 15px;
				display: block;
				width: 12px;
				height: 8px;
				background: url(/img/arrow_lang.svg) no-repeat;
			}
		}
	
	.social-widget{
		padding: 0px 0px 50px 0px;
		width: 100%;
		.social{
			justify-content: center;
			a {
				width: 40px;
				height: 40px;
				&.fb,
				&.in {
					background-size: 40px;
				}
			}
		}
	}
}
.menu-item{
	a{
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
	}
}
.sub-menu{
	li{
		background: #EDF0F2;
		padding: 15px 0px 15px 60px;
		margin: 0px 20px 10px 0px;
		position: relative;
	}
	a{
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;
		&:before{
			content:"";
			background: url(/img/surrogate_mother.svg) no-repeat;
			height: 30px;
			width: 30px;
			display: block;
			position: absolute;
			left: 15px;
			top: 10px;
		}
	}
}
		.menu.active {
			transform: translate(0%,0px);
			}
		}
#header .nav .menu_btn.active .line:before {
    top: 0;
    transform: rotate(
45deg
);
}
#header .nav .menu_btn.active .line:after {
    top: 0;
    transform: rotate(
-45deg
);
}
#header .nav .menu_btn.active {
    text-decoration: none;
    background: #fff;
}
#header .nav .menu_btn.active .line {
    background: 0 0;
}

